


{% load static %}
{% block content %}
<div class="container" >
    {% extends 'navbar.html' %}
    <div class="text-white text-center" style="margin-top:15%">
    <h1 style="color:#FAFF00;font-family: 'Adamina';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    /* or 109% */
    
    letter-spacing: -2.01026px;">
     Change is inevitable but <br> tasking. Find your<br> reliable change partner
    </h1>
        
    <p> In one roof, get the solutions to your house moving nightmares.</p>

    </div>

</div>
{% endblock %}