{% include 'base.html'%}
{%block content%}
<section class="section bg-light" id="next" style="background-image: url(https://images.unsplash.com/photo-1542393545-10f5cde2c810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTV8fGNvbXB1dGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)">

    <div class="container">
        <h2 style="text-align:center; color: rgb(248, 181, 57);">Available bookings</h2>
        <div class="card-columns">
            {% for booking in bookings %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Booking Summary</h5>
                    <p class="card-text">Location:{{booking.location}}</p>
                    <p class="card-text">Vacation date: {{booking.vacation_date}}</p>
                    <p class="card-text">Description: {{booking.description}}</p>
                    <p class="card-text">New Location: {{booking.new_location}}</p>
                    <a href="#" class="card-link">Send Quotation</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}