{% include 'base.html'%}
{%block content%}
<section class="section bg-light" id="next">

    <div class="container">
        <h2>Available bookings</h2>
        <div class="card-columns">
            {% for booking in bookings %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Booking Summary</h5>
                    <p class="card-text">Location:{{booking.location}}</p>
                    <p class="card-text">Vacation date: {{booking.vacation_date}}</p>
                    <p class="card-text">Description: {{booking.description}}</p>
                    <p class="card-text">New Location: {{booking.new_location}}</p>
                    <a href="#" class="card-link">Send Quotation</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}